<div class="head">

	<table style="width:100%">
	
		<td><img ng-src="resources/images/back-btn.png" ng-click="search_back()" height=15px width=15px/>Search</td>
		<td style="padding-left:50px">New Business</td>
		<td style="text-align:right"><img ng-src="resources/images/home/menu_list.png" ng-click="hamburger_menu()" height=20px width=35px alt="menu" /></td>
	
	</table>
	
</div>

<div ng-hide="ham_menu" class="hamburger_menu">

	<ul>
		
		<li ng-click="home()"><img ng-src="resources/images/menu-screen/home-icon.png"/>Home</li>
		<li ng-click="new_business()"><img ng-src="resources/images/menu-screen/business-icon.png"/>New Business</li>
		<li><img ng-src="resources/images/menu-screen/commission-icon.png"/>Commissions</li>
		<li><img ng-src="resources/images/menu-screen/incentive-icon.png"/>Incentives</li>
		<li><img ng-src="resources/images/menu-screen/newslist-icon.png"/>AgentNews</li>
		<li><img ng-src="resources/images/menu-screen/qustion_icon.png"/>Questions and Support</li>
		<li ng-click="logout()"><img ng-src="resources/images/menu-screen/logout-icon.png"/>Logout</li>
	
	</ul>
	
</div>

<div class="filter_body">

	<h6>Last Updated on 07/21/2014</h6>
	<h4>Status:<span style="font-size:15px">Show All</span> <span style="float:right">Action Required:<span style="font-size:15px">Yes</span></span></h4>
	<h4>Sort By</h4>
	
	<select style="height:30px;width:85%" ng-model="sort" ng-change="dropdown()">
		
		<option value="Show All">Show All</option>
		<option value="insuredName">InsuredName</option>
		<option value="CTP">CTP</option>
		<option value="SubmitDate">SubmitDate</option>
		<option value="MailedDate">MailedDate</option>
				
	</select>
	
	<span>
	
		<img ng-src="{{SortIcon}}" ng-click="toggleSort()"  alt="remember" align="right" height="30px" width="10%" >
		
	</span>
		
	<div ng-repeat="x in employees | orderBy:sort_type" class="list">
		
		<div ng-click="Emp(x)">
			
			<p><span style="color:green">&#9679; {{x.id}}</span><span style="float:right">Status:{{x.status}}</span></p>
			<h4>{{x.insuredName}}</h4>
			(insured Name)
			<p>CTP:<span style="float:right;font-size:20px">{{x.CTP}}</span></p>
			<p>Submit Date:<span style="float:right">{{x.SubmitDate}}</span></p>
			<p>Mailed Date:<span style="float:right">{{x.MailedDate}}</span></p>
			<p>Track:<span style="float:right;color:#145ECC">{{x.Track}}</span></p>
		
		</div>
		
	</div>
	
</div>